<ion-menu [content]="content"  side="left" class="tparent" >

  <ion-header class="tparent">
    <ion-toolbar color="dark" class="tparent white">
      <div *ngIf="Name.photourl != null && Name.photourl != 'null'">
        <img class="menu-user-image" src="{{Name.photourl}}" />
      </div>
      <div style="height: 6vw"></div>
     <div class="font18" text-center *ngIf="Name.name != null && Name.name != 'null'">{{Name.name}}</div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <div style="height: 6vw"></div>
      <div *ngIf="Name.name == null || Name.name == 'null'">
      <button class="tparent white" ion-item (click)="openPage(pages[0])">{{pages[0].title}}</button>
      <div style="height: 3vw"></div>
      </div>
      <button class="tparent white" ion-item (click)="openPage(pages[3])">{{pages[3].title}}</button>
      <div style="height: 3vw"></div>
      <button class="tparent white" ion-item (click)="openPage(pages[7])">{{pages[7].title}}</button>
      <div style="height: 3vw"></div>
      <div *ngIf="Name.name != null && Name.name != 'null'">
      <button class="tparent white" ion-item (click)="openPage(pages[4])">{{pages[4].title}}</button>
      <div style="height: 3vw"></div>
      <button class="tparent white" ion-item (click)="openPage(pages[5])">{{pages[5].title}}</button>
      <div style="height: 3vw"></div>
      <button class="tparent white" ion-item (click)="openPage(pages[6])">{{pages[6].title}}</button>
      <div style="height: 46vw"></div>
      <button menuClose class="tparent white" ion-item (click)="Logout()">Log Out</button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
